<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ABS </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add/">Add Student Details</a>
      </li>
          {% if request.user.username == "admin"%}
      <li class="nav-item">
        <a class="nav-link" href="/admin/">Admin </a>
      </li>
          {% endif %}
         </ul>
  {% endif %}
    <span>
        {% if request.user.is_authenticated %}

        Hello {{ request.user.first_name }}{{ request.user.last_name }}
            <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Log-In</a>
          {% endif %}
      </span>
  </div>
</nav>
<div class="container">
{% block content %}  {% endblock %}

</div>
</body>
</html>